beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.3.9
flash==1.0.3
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
jsonify==0.5
lxml==4.6.3
MarkupSafe==2.0.1
nltk==3.6.2
numpy==1.20.3
regex==2021.4.4
requests==2.25.1
soupsieve==2.2.1
tqdm==4.60.0
urllib3==1.26.4
Werkzeug==2.0.1
wordhoard==1.2
wordnet==0.0.1b2
